@import '../../../shared/sass/variables';
.search-results-page {
  width: 100%;
  margin-top: 16px;

  ::ng-deep {
    .ui-dataview {
      width: 1000px;
      height: 500px;
      a {
        &.ui-button {
          &.ui-state-active {
            background-color: $primary-green;
          }
        }

        &.ui-paginator-page {
          &.ui-state-active {
            background-color: $primary-green;
          }
        }
      }
      &-content {
        padding: 0;
      }
    }
  }
}
