<div class="profile">
  <img src="{{ selectedUser.bio.avatar_url }}" alt="" class="avatar" />
  <div class="name">{{ selectedUser.bio.name }}</div>
  <div class="login">{{ selectedUser.bio.login }}</div>
  <div class="details">
    <div class="bio">{{ selectedUser.bio.bio }}</div>
    <div class="company">
      <i class="fas fa-user-friends icon"></i>
      {{ selectedUser.bio.company }}
    </div>
    <div class="location">
      <i class="fas fa-map-marker-alt"></i> {{ selectedUser.bio.location }}
    </div>
    <div class="blog">
      <i class="fas fa-link"></i
      ><a href="devpato.github.io"> {{ selectedUser.bio.blog }}</a>
    </div>
  </div>
  <div class="organizations">
    <div class="title">Organizations</div>
    <div class="logos">
      <img
        src="{{ org.avatar_url }}"
        alt=""
        class="org"
        *ngFor="let org of selectedUser.orgs"
      />
    </div>
  </div>
</div>
