<div class="profile">
  <img
    src="https://avatars3.githubusercontent.com/u/11162114?v=4"
    alt=""
    class="avatar"
  />
  <div class="name">Patricio Vargas</div>
  <div class="login">devpato</div>
  <div class="details">
    <div class="bio">UX Software Engineer at TAMO Studio</div>
    <div class="company">
      <i class="fas fa-user-friends icon"></i>
      TAMO Studio
    </div>
    <div class="location">
      <i class="fas fa-map-marker-alt"></i> Jacksonville
    </div>
    <div class="blog">
      <i class="fas fa-link"></i
      ><a href="devpato.github.io"> devpato.github.io</a>
    </div>
  </div>
  <div class="organizations">
    <div class="title">Organizations</div>
    <div class="logos">
      <img
        src="https://avatars3.githubusercontent.com/u/46367877?v=4"
        alt=""
        class="org"
      />
      <img
        src="https://avatars1.githubusercontent.com/u/48394062?v=4"
        alt=""
        class="org"
      />
    </div>
  </div>
</div>
