@import '../../../../shared/sass/variables';
::ng-deep {
  p-panel {
    width: 100%;
    .ui-panel-titlebar.ui-widget-header {
      display: flex;
      align-items: center;

      .ui-panel-titlebar-icon {
        font-size: 14px;
        margin-left: auto;
      }
    }
    .ui-panel {
      width: 498px;
      border-bottom: 1px solid #c8c8c8;
      &-titlebar.ui-panel-titlebar {
        border: 0;
      }
      .body-panel {
        display: flex;
        justify-content: space-around;
        span {
          font-size: 14px;
          &.repos {
            i {
              color: #f87b05;
            }
          }
          &.starred {
            i {
              color: #ffdf00;
            }
          }

          &.followers {
            i {
              color: #1da1f2;
            }
          }
        }
      }
      .loader {
        height: 80px;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.user {
  display: flex;
  align-items: center;
  img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
  }
  .main-details {
    display: flex;
    align-items: center;
    .user-name,
    .user-score {
      width: 140px;
      font-weight: 700;
      color: $primary-black;
      font-size: 18px;
      &-number {
        font-size: 16px;
        color: $primary-green;
        a {
          color: $primary-black;
          font-size: 14px;
        }
      }
    }

    a {
      color: $primary-black;
      font-size: 16px;
      text-align: center;
    }
  }

  * {
    margin: 0 4px;
  }

  &-name,
  &-score {
    font-weight: 700;
    color: $primary-black;
    font-size: 18px;
    width: 180px;
    &-number {
      text-align: center;
      font-size: 14px;
      color: $primary-green;
    }
  }
}
