<div class="repos">
  <ng-container *ngIf="$selectedUser | async as selectedUser">
    <div class="name">{{ selectedUser.user }}'s Repos</div>
    <div class="repo" *ngFor="let repo of selectedUser.repos">
      <a href="{{ repo.html_url }}">
        <div class="repo-name"><i class="fas fa-code"></i> {{ repo.name }}</div>
      </a>
      <div class="description">{{ repo.description }}</div>
      <div class="language">
        <div
          class="circle {{ whatLanguageIsMyRepo(repo.language) }}"
          *ngIf="repo.language !== null"
        ></div>
        {{ repo.language }}
      </div>
      <div class="forks">
        <i class="fas fa-code-branch"></i> Forks: {{ repo.forks_count }}
      </div>
    </div>
  </ng-container>
</div>
